<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
				<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler">
					</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
				</li>

				<li class="start open">
					<a href="javascript:;"><i class="icon-settings"></i><span class="title">Администрирование</span><span class="arrow open"></span></a>
					<ul class="sub-menu" style="display: block;">
							<li>
								<a href="javascript:;"><span class="title">Города и Категории</span><span class="arrow "></span></a>
								<ul class="sub-menu">
									<li>
										<a href="/admin/country">
										<i class="icon-action-redo"></i>Страны</a>
									</li>
									<li>
										<a href="/admin/city">
										<i class="icon-action-redo"></i>Города</a>
									</li>
									<li>
										<a href="/admin/category">
										<i class="icon-action-redo"></i>Категории</a>
									</li>
									<li>
										<a href="/admin/subCategory">
										<i class="icon-action-redo"></i>Подкатегории</a>
									</li>
									<li>
										<a href="/admin/shoppingCategory">
										<i class="icon-action-redo"></i>Категории ТЦ</a>
									</li>
									<li>
										<a href="/admin/goodsCategory">
										<i class="icon-action-redo"></i>Категории товаров</a>
									</li>
									<li>
										<a href="/admin/goodsSubCategory">
										<i class="icon-action-redo"></i>Подкатегории товаров</a>
									</li>
									<li>
										<a href="/admin/goodsType">
										<i class="icon-action-redo"></i>Типы товаров</a>
									</li>
									<li>
										<a href="/admin/goodsSubType">
										<i class="icon-action-redo"></i>Подтипы товаров</a>
									</li>
									<li>
										<a href="/admin/couponCategory">
										<i class="icon-action-redo"></i>Категории купонов</a>
									</li>
									<li>
										<a href="/admin/couponType">
										<i class="icon-action-redo"></i>Виды купонов</a>
									</li>
									<li>
										<a href="/admin/couponAdvCampaign">
										<i class="icon-action-redo"></i>Компании купонов</a>
									</li>
                                    <li>
										<a href="/admin/categoryCityDescription">
										<i class="icon-action-redo"></i>Описание категорий по городам</a>
									</li>
									<li>
										<a href="/admin/subCategoryCityDescription">
										<i class="icon-action-redo"></i>Описание подкатегорий по городам</a>
									</li>
									<li>
										<a href="/admin/companyCatalog">
										<i class="icon-action-redo"></i>Каталоги товаров</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/admin/user">
								<i class="icon-action-redo"></i>Пользователи</a>
							</li>
							<li>
								<a href="/admin/company">
								<i class="icon-action-redo"></i>Компании</a>
							</li>
							<li>
								<a href="/admin/discount">
								<i class="icon-action-redo"></i>Акции</a>
							</li>
							<!--
							<li>
								<a href="/admin/goods">
								<i class="icon-action-redo"></i>Товары</a>
							</li>
							-->
							<li>
								<a href="/admin/advertising">
								<i class="icon-action-redo"></i>Баннеры</a>
							</li>
							<li>
								<a href="/admin/custompages">
								<i class="icon-action-redo"></i>Доп. разделы</a>
							</li>														
							<li>
								<a href="/admin/moderstat">
								<i class="icon-action-redo"></i>Статистика</a>
							</li>
					</ul>
				</li>
				<li>
					<a href="/admin/comments"><i class="icon-bubble"></i><span class="title" id="comments">Комментарии</span></a>
				</li>
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>