<ul>
<li {% if content.cat.id ==clothes %}class="active"{%endif%} ><a href="/catalogue/brands/cat/clothes">Одежда</a></li>
<li {% if content.cat.id ==shoes %}class="active"{%endif%} ><a href="/catalogue/brands/cat/shoes">Обувь</a></li>
<li {% if content.cat.id ==accessories %}class="active"{%endif%} ><a href="/catalogue/brands/cat/accessories">Аксессуары</a></li>
<li {% if content.cat.id ==sport %}class="active"{%endif%} ><a href="/catalogue/brands/cat/sport">Спортинвентарь</a></li>
<li {% if content.cat.id ==toiletry %}class="active"{%endif%} ><a href="/catalogue/brands/cat/toiletry">Косметика, парфюмерия</a></li>
<li {% if content.cat.id ==furniture %}class="active"{%endif%} ><a href="/catalogue/brands/cat/furniture">Мебель, интерьер</a></li>
<li {% if content.cat.id ==children %}class="active"{%endif%} ><a href="/catalogue/brands/cat/children">Для детей</a></li>
<li {% if content.cat.id ==electro %}class="active"{%endif%} ><a href="/catalogue/brands/cat/electro">Электроника</a></li>
<li {% if content.cat.id ==auto %}class="active"{%endif%} ><a href="/catalogue/brands/cat/auto">Авто</a></li>
<li {% if content.cat.id ==jewelry %}class="active"{%endif%} ><a href="/catalogue/brands/cat/jewelry">Ювелирные изделия</a></li>
<li {% if content.cat.id ==other %}class="active"{%endif%} ><a href="/catalogue/brands/cat/other">Прочее</a></li>
</ul>