			<div class="city">

				<span class="reg">Ваш регион:</span>

				<select name="" class="cityselector" onchange="changeCity(this);">
				                    												<option disabled=disabled >Россия</option>
												                        <option value="57" {% if city == 57%}selected="selected"{% endif %}>Астрахань</option>    
											                        <option value="34" {% if city == 34%}selected="selected"{% endif %}>Барнаул</option>    
											                        <option value="16" {% if city == 16%}selected="selected"{% endif %}>Владивосток</option>    
											                        <option value="25" {% if city == 25%}selected="selected"{% endif %}>Владимир</option>    
											                        <option value="22" {% if city == 22%}selected="selected"{% endif %}>Волгоград</option>    
											                        <option value="28" {% if city == 28%}selected="selected"{% endif %}>Воронеж</option>    
											                        <option value="3" {% if city == 3%}selected="selected"{% endif %}>Екатеринбург</option>    
											                        <option value="43" {% if city == 43%}selected="selected"{% endif %}>Ижевск</option>    
											                        <option value="32" {% if city == 32%}selected="selected"{% endif %}>Иркутск</option>    
											                        <option value="8" {% if city == 8%}selected="selected"{% endif %}>Казань</option>    
											                        <option value="9" {% if city == 9%}selected="selected"{% endif %}>Калининград</option>    
											                        <option value="33" {% if city == 33%}selected="selected"{% endif %}>Кемерово</option>    
											                        <option value="23" {% if city == 23%}selected="selected"{% endif %}>Киров</option>    
											                        <option value="18" {% if city == 18%}selected="selected"{% endif %}>Краснодар</option>    
											                        <option value="14" {% if city == 14%}selected="selected"{% endif %}>Красноярск</option>    
											                        <option value="52" {% if city == 52%}selected="selected"{% endif %}>Липецк</option>    
											                        <option value="1" {% if city == 1%}selected="selected"{% endif %}>Москва</option>    
											                        <option value="4" {% if city == 4%}selected="selected"{% endif %}>Нижний Новгород</option>    
											                        <option value="5" {% if city == 5%}selected="selected"{% endif %}>Новосибирск</option>    
											                        <option value="26" {% if city == 26%}selected="selected"{% endif %}>Омск</option>    
											                        <option value="11" {% if city == 11%}selected="selected"{% endif %}>Оренбург</option>    
											                        <option value="37" {% if city == 37%}selected="selected"{% endif %}>Пенза</option>    
											                        <option value="10" {% if city == 10%}selected="selected"{% endif %}>Пермь</option>    
											                        <option value="20" {% if city == 20%}selected="selected"{% endif %}>Ростов-на-Дону</option>    
											                        <option value="53" {% if city == 53%}selected="selected"{% endif %}>Рязань</option>    
											                        <option value="7" {% if city == 7%}selected="selected"{% endif %}>Самара</option>    
											                        <option value="2" {% if city == 2%}selected="selected"{% endif %}>Санкт-Петербург</option>    
											                        <option value="24" {% if city == 24%}selected="selected"{% endif %}>Саратов</option>    
											                        <option value="58" {% if city == 58%}selected="selected"{% endif %}>Смоленск</option>    
											                        <option value="15" {% if city == 15%}selected="selected"{% endif %}>Ставрополь</option>    
											                        <option value="44" {% if city == 44%}selected="selected"{% endif %}>Сыктывкар</option>    
											                        <option value="17" {% if city == 17%}selected="selected"{% endif %}>Тверь</option>    
											                        <option value="21" {% if city == 21%}selected="selected"{% endif %}>Тольятти</option>    
											                        <option value="36" {% if city == 36%}selected="selected"{% endif %}>Томск</option>    
											                        <option value="13" {% if city == 13%}selected="selected"{% endif %}>Тула</option>    
											                        <option value="38" {% if city == 38%}selected="selected"{% endif %}>Тюмень</option>    
											                        <option value="51" {% if city == 51%}selected="selected"{% endif %}>Ульяновск</option>    
											                        <option value="12" {% if city == 12%}selected="selected"{% endif %}>Уфа</option>    
											                        <option value="30" {% if city == 30%}selected="selected"{% endif %}>Хабаровск</option>    
											                        <option value="19" {% if city == 19%}selected="selected"{% endif %}>Чебоксары</option>    
											                        <option value="6" {% if city == 6%}selected="selected"{% endif %}>Челябинск</option>    
											                        <option value="35" {% if city == 35%}selected="selected"{% endif %}>Ярославль</option>    
																	<option disabled=disabled >Украина</option>
												                        <option value="27" {% if city == 27%}selected="selected"{% endif %}>Киев</option>    
											                        <option value="39" {% if city == 39%}selected="selected"{% endif %}>Одесса</option>    
											                        <option value="31" {% if city == 31%}selected="selected"{% endif %}>Харьков</option>    
																	<option disabled=disabled >Беларусь</option>
												                        <option value="29" {% if city == 29%}selected="selected"{% endif %}>Минск</option>    
											                        <option value="55" {% if city == 55%}selected="selected"{% endif %}>Могилев</option>    
									</select>

			</div>