<ul>
<li {% if content.cat.id ==2 %}class="active"{%endif%} ><a href="/catalogue/company/cat/2">Мода и стиль</a></li>
<li {% if content.cat.id ==3 %}class="active"{%endif%} ><a href="/catalogue/company/cat/3">Товары для детей</a></li>
<li {% if content.cat.id ==4 %}class="active"{%endif%} ><a href="/catalogue/company/cat/4">Спорт товары</a></li>
<li {% if content.cat.id ==5 %}class="active"{%endif%} ><a href="/catalogue/company/cat/5">Красота и здоровье</a></li>
<li {% if content.cat.id ==6 %}class="active"{%endif%} ><a href="/catalogue/company/cat/6">Автомобили, сервис</a></li>
<li {% if content.cat.id ==7 %}class="active"{%endif%} ><a href="/catalogue/company/cat/7">Техника, электроника</a></li>
<li {% if content.cat.id ==8 %}class="active"{%endif%} ><a href="/catalogue/company/cat/8">Товары для дома</a></li>
<li {% if content.cat.id ==9 %}class="active"{%endif%} ><a href="/catalogue/company/cat/9">Бытовые услуги</a></li>
<li {% if content.cat.id ==10 %}class="active"{%endif%} ><a href="/catalogue/company/cat/10">Книги, канц-товары</a></li>
<li {% if content.cat.id ==11 %}class="active"{%endif%} ><a href="/catalogue/company/cat/11">Подарки и цветы</a></li>
<li {% if content.cat.id ==12 %}class="active"{%endif%} ><a href="/catalogue/company/cat/12">Путешествия</a></li>
<li {% if content.cat.id ==14 %}class="active"{%endif%} ><a href="/catalogue/company/cat/14">Супермаркеты, ТЦ</a></li>
<li {% if content.cat.id ==15 %}class="active"{%endif%} ><a href="/catalogue/company/cat/15">Прочее</a></li>
<li {% if content.cat.id ==16 %}class="active"{%endif%} ><a href="/catalogue/company/cat/16">Домашние животные</a></li>
</ul>