<ul>
<li><a  href="/catalogue/discount/cat/2">Мода и стиль</a>
</li>
<li><a  href="/catalogue/discount/cat/3">Товары для детей</a>
</li>
<li><a  href="/catalogue/discount/cat/4">Спорт товары</a>
</li>
<li><a  href="/catalogue/discount/cat/5">Красота и здоровье</a>
</li>
<li><a  href="/catalogue/discount/cat/6">Автомобили, сервис</a>
</li>
<li><a  href="/catalogue/discount/cat/7">Техника, электроника</a>
</li>
<li><a class=active href="/catalogue/discount/cat/8">Товары для дома</a>
    <ul>
            
        <li {% if content.subcat.id ==30 %}class="active"{%endif%}><a href="/catalogue/discount/subcat/30">Мебель, интерьер</a></li>
            
        <li {% if content.subcat.id ==31 %}class="active"{%endif%}><a href="/catalogue/discount/subcat/31">Ремонт, инструменты</a></li>
        </ul>
</li>
<li><a  href="/catalogue/discount/cat/9">Бытовые услуги</a>
</li>
<li><a  href="/catalogue/discount/cat/10">Книги, канц-товары</a>
</li>
<li><a  href="/catalogue/discount/cat/11">Подарки и цветы</a>
</li>
<li><a  href="/catalogue/discount/cat/12">Путешествия</a>
</li>
<li><a  href="/catalogue/discount/cat/14">Супермаркеты, ТЦ</a>
</li>
<li><a  href="/catalogue/discount/cat/15">Прочее</a>
</li>
<li><a  href="/catalogue/discount/cat/16">Домашние животные</a>
</li>
</ul>