<ul>
{% for menuitem in menu %}
<li {% verbatim %}{% if content.cat.id =={% endverbatim %}{{menuitem.id}}{% verbatim %} %}class="active"{%endif%}{% endverbatim %} ><a href="/{{menulink}}/{{menuitem.id}}">{{menuitem.name}}</a></li>
{% endfor %}</ul>