<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">		
				<li class="start open">
					<a href="javascript:;"><i class="icon-settings"></i><span class="title">Модерирование</span><span class="arrow open"></span></a>
					<ul class="sub-menu" style="display: block;">
						<li>
							<a href="/moderator/company">
							<i class="icon-action-redo"></i>Компании</a>
						</li>
						<li>
							<a href="/moderator/discount">
							<i class="icon-action-redo"></i>Акции</a>
						</li>
					</ul>					
				</li>
				<li>
					<a href="/admin/comments"><i class="icon-bubble"></i><span class="title" id="comments">Комментарии</span></a>
				</li>										
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>